body { background: #d5635c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 35px; display: flex; }
.block-product-0 { color: #34fb5; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #be28f5; font-size: 12px; margin-bottom: 5px; }
.block-metrics-2 { color: #750621; font-size: 21px; margin-bottom: 5px; }
.block-cart-3 { color: #93fa96; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #ad3ee6; font-size: 15px; margin-bottom: 5px; }